# Build and output folders
build/
output/
dist/

# Compiled binaries and object files
*.o
*.out
*.exe
*.bin
os_simulator
main
outDebug

# Debug symbols
*.dSYM/
main.dSYM/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store

# Temporary files
*.tmp
*.log
